<%- include("header"); -%>
    <div class="container box" id="status">
      <h2> <%= kindofday %> </h2>
    </div>
    <div class="container box">
      <% for (var i=0; i<listItems.length; i++){ %>
        <div class="item">
          <input type="checkbox">
          <p><%= listItems[i] %></p>
        </div>
      <%}; %>
    <form class="item" action="/" method="post">
      <input type="text" name="todo" placeholder="New work">
      <button type="submit" name="submit" value=<%= kindofday %>>+</button>
    </form>

    </div>
<%- include("footer"); -%>


<!-- 48cae4 -->
